.topTrending{
    text-decoration: none;
    color: white;
    margin-top: 8px;
}

.topTop{
    text-decoration: none;
    color: white;
    margin-top: 8px;
    margin-left: 8px;
}

.namePage{
    font-size: 1000px;
}